.img-dona {
  width: 800px;
  margin-left: 200px;
}
.main-wrapper h2 {
  position: absolute;
  top: 1260px;
  left: 250px;
  color: #fff;
}
.main-wrapper button {
  position: absolute;
  top: 1350px;
  left: 250px;
  color: #fff;
}
